@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

/* Mobile first styles : smallest screen size and upward
-----------------------------------------------------------*/
* {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  color: #333333;
  font-size: 120%;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  background-image: url('');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
a {
  color: #923f3f;
}
a:hover,
a:active {
  color: #923f3f;
}
img {
  max-width: 100%;
}
header {
  background-color: transparent;
  padding: 0.em 0.2em;
  font-family: 'Oswald', sans-serif;
  position: relative;
}
header a {
  color: white;
  text-decoration: none;
}
.logo {
  font-size: 2.0em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: lighter;
  border: 2px solid white;
  padding: 20px;
  margin: 30px;
}
.logo:hover,
.logo:active {
  color: darkorange;
}
nav {
  position: relative;
  font-family: 'Droid Serif';
  size: 30px;
  filter: alpha(opacity=60);
  opacity: 0.6;
}
nav .main-nav {
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  filter: alpha(opacity=60);
  opacity: 0.6;
}
nav .main-nav li {
  visibility: visible;
}
nav .main-nav.active {
  height: auto;
}
nav .main-nav a {
  display: block;
  color: white;
  padding: 0.5em .1em;
}
.main-nav li:nth-of-type(1) a {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: .2em;
}
.main-nav li:nth-of-type(2) a {
  background-color: rgba(0, 0, 0, 0.);
}
.main-nav li:nth-of-type(3) a {
  background-color: rgba(0, 0, 0, 0.1);
}
nav .main-nav a:hover,
nav .main-nav a:active {
  color: orange;
  /*background: -webkit-linear-gradient(top,  rgba(255,255,255,0.05),  transparent);*/

}
.menu-button {
  float: right;
  display: inline-block;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em 1em 0.5em 1em;
}
.menu-button .text {
  display: none;
}
.menu-button a,
.menu-button a:hover,
.menu-button a:active {
  color: #ffffff;
  font-weight: lighter;
}
@media all and (min-width: 18em) {
  .menu-button .text {
    display: inline;
  }
}
@media all and (min-width: 48em) {
  .menu-button {
    display: none;
  }
  nav .main-nav {
    height: auto !important;
    float: right;
    margin-right: 1em;
  }
  .main-nav li {
    display: inline-block;
  }
  .main-nav a {
    background: transparent !important;
  }
}
@media all and (min-width: 20em) and (max-width: 25.999999em) {
  .main-nav li {
    display: inline-block;
    min-width: 49%;
    max-width: 49%;
  }
}
@media all and (min-width: 26em) and (max-width: 48em) {
  .main-nav li {
    display: inline-block;
    min-width: 24%;
    max-width: 24%;
  }
  .main-nav li a {
    text-align: center;

  }
}

html {

}


body{

}
label {
  position: absolute;
  left: -20px;
  margin: 25px ;


  font-family:'Droid Serif';

  margin-top: -30px;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  -webkit-transition: left 250ms ease, color 250ms ease;
  transition: left 250ms ease, color 250ms ease;
}




input {


}

input[type="email"],
input[type="password"] {
  width: 50%;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
  font-family: 'Lato';
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;

}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Droid Serif', sans-serif;
  background:transparent;
  color: #b3aca7;
}

header {
  position: relative;
  margin: 15px 0 25px 0;
  font-size: 1.0em;
  text-align: left;
  letter-spacing: 2px;

}
formheader {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;

}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 50px auto;
}
label {
  position: absolute;
  left: -20px;
  margin: 25px ;


  font-family:'Droid Serif';

  margin-top: -30px;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  -webkit-transition: left 250ms ease, color 250ms ease;
  transition: left 250ms ease, color 250ms ease;
}

input:focus ~ label, input:valid ~ label {
  left: -94px;
  color: #darkgrey;
}

.bot-line {
  display: block;
  content: '';
  position: relative;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 1px;
  background-color: #ec503b;
}
.bot-line:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ec503b;
  -webkit-transition: width 250ms 250ms ease;
  transition: width 250ms 250ms ease;
}

.right-line {
  display: inline-block;
  content: '';
  position: relative;
 top:-40px ;
  left: 500px;
  height: 40px;
  width: 1px;
  background-color: #ec503b;
}
.right-line:after {
  display: inline-block;
  content: '';
  position: relative;
  bottom: 0;
  left: 0;
  height: 0;
  width: 3px;
  background-color: #ec503b;
  -webkit-transition: height 250ms ease;
  transition: height 250ms ease;
}

input:focus ~ .bot-line:after {
  width: 500px;
  -webkit-transition: width 250ms ease;
  transition: width 250ms ease;
}
input:focus ~ .right-line:after {
  height: 39px;
  -webkit-transition: height 250ms 250ms ease;
  transition: height 250ms 250ms ease;
}

input {
  font-family: 'Droid Serif',  serif;
  font-size: 0.975em;
  width: 500px;
  height: 40px;
  padding: 5px 0px 2px 15px;

  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px transparent;



  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #grey;
  color: #e2dedb;
  left: -64px;
  color: #d3d3d3;
  -webkit-transition: left 250ms ease, color 250ms ease;
  transition: left 250ms ease, color 250ms ease;
}

textarea {
  width: 500px;
  max-width:500px;
  height: 310px;
  max-height: 310px;
  padding: 10px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Droid Serif', sans-serif;
  font-size: 0.975em;

  border: solid 1px #ec503b;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;


}


#submit {
  width: 523px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Droid serif', sans-serif;
  font-size: 0.975em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
  background: #ec503b;
}

#submit:hover {
  color: #e2dedb;
  background: #ec503b;
}

