html   {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background: black;
}

/* Base Type Styles Using Modular Scale ---------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 14px;
  direction: ltr; }
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px; }
p.lead {
  font-size: 17.5px;
  line-height: 1.6;
  margin-bottom: 17px; }

aside p {
  font-size: 13px;
  line-height: 1.35;
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color:#99F3F1;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 14px;

  margin-top: 14px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color:#EFEFEF;
  line-height: 0; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 37px; }

h3 {
  font-size: 27px; }

h4 {
  font-size: 23px; }

h5 {
  font-size: 17px;
  }

h6 {
  font-size: 14px; }
h7 {font-size: 50px;
    font-family: Verdana, Geneva, sans-serif;
	text-transform:uppercase;
}

hr {
  width: 75px;
  margin: 22px 0 21px;
  height: 1; }

.top {
    font-color: #white,
    height: 250px%;
    width: 75%;
    border-bottom: solid #white;
    background-color: black;
    background-color-filter: alpha(opacity=60);

}