{% extends "home.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .pic  {

            opacity: 10%;
        }
        .ch-item {

               background-image:url("{{ url_for('static', filename='img/f2.jpg') }}");

        }
        .blurb {
        background: white;
        padding: 40px;
        border-radius: 15%;

        }
        label {
        font-family:'Droid Serif';
        text-transform: uppercase;


    </style>
{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/o.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">

<div class="team-content-container">
<p class="lead">About Me</p> <ul class="ch-grid">

           <li>
                <div class="ch-item">
                    <div class="pic"><p>Hi</p></div>
                </div>
           </li>



        </ul>

    <div class="tagline"><h1>I'm from the borderlands. <span> Soy de la frontera</span></h1></div>
<div class="column centered six">
    <div class="blurb">

<p><i>"When there was still night, in a primeval time, the gods earned, through their
own voluntary sacrifice and death, the restoration of the Sun, moon, earth,
and human beings. The universe in which Mesoamericans have lived and
many still think in this manner-has been established, destroyed, and reestab-
    lished several times: four according to the Maya, five in the Nahua tradition."</i></p>
    <p>I grew up 30 minutes north of the Mexican border. My experience at the crux of cultures molded me.
    </p>
        <p>I fight strangers and build software. I'm really shy
        </p>
    </div>
</div>

</div>
    <div class="row"></div>

<div class="column ten"><label>test
</label></div>

{% endblock %}

