{% extends "base.html" %}


{% block content %}


<div class="page-header">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/o.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">

<div class="recent-article-container">

<li class="twelve columns">
        <ul class="row">
      <li class="four columns">
          <div class="recent-article">
              <img src="static/img/b1.jpg">
                          <div class="recent-article-content">
           <div class="recent-article-inner">
                 <h4>IBJJF American Nationals<span>2019</span></h4>
                 <p><small>Bronze</small></p>
                 </div>
                 </div>

</li>
            <li class="two columns">
            <div class="recent-article">
                <center><div id="form"><label>THHH</label><br>
                <label>test it out</label>
            </div>
                    </center>

</div>
            <li class="four columns">
          <div class="recent-article">

    <img src="static/img/b2.jpg">
              <div class="recent-article-content">
           <div class="recent-article-inner">
          </div>
</li>


        </ul>
</li>

</div>
<div class="team-content-container">
        <div class="tagline"></div>
        <div class="row">

     <div id="header-container">
    <div class="header full-header">

      <div id="sequence">
      <img src="https://beca.dev/img/mexicobw.jpg">

      </div>
    </div>
  </div>
<section class="tagline-container">
<div class="row">
    <div class="home-tagline">
    </div>
</div>
</section>
<div class="tagline-container">
    <div class="home-tagline"><h2>About <span>Me</span>: fast facts</h2></div>
<section>
    <div class="container">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/o.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">
    <div class="row">
  <div class="six columns">
  </div>

</div>
    </div>
<div class="section"><div class="four columns">
    <label>CHINGONA Y CHILLONA</label>
        </div></div>

</section>

{% endblock %}
