{% extends "base.html" %}
{% block navbar %}

<style type="text/css">
        .navbar {
        border: none;
        margin-bottom:0;
        font-size: 50;
        }
        .hero {
        padding: 10px;
        margin: 4px;
        background-image:url("{{ url_for('static', filename='img/lcup.png') }}");
        background-repeat: no-repeat;
        size: 900px 500px;

        }
        .rt {
        position: relative;
        height: 300px;
        width: 300px;
        padding-top: 50px;
        padding: 30px;
           font-family: 'Open Sans', sans-serif;
            font-weight: light;
            text-transform: uppercase;

        background-image:url("{{ url_for('static', filename='img/lcup.png') }}");
        background-repeat: no-repeat;
        background-size: 325px 300px;

        }

        .mid {
        position: relative;
        height: 500px;
        width: 500px;
        margin: 20px;
        padding-top: 60px;
        padding: 30px;
           font-family: 'Open Sans', sans-serif;
            font-weight: light;
            text-transform: uppercase;

        background-image:url("{{ url_for('static', filename='img/fav.png') }}");
        background-repeat: no-repeat;
        background-size: 525px 500px;


        }
        .lmid {
        position: relative;
        height: 500px;
        width: 500px;
        right: -400px;
        margin: 20px;

        padding-top: 60px;
        padding: 30px;
           font-family: 'Open Sans', sans-serif;
            font-weight: light;
            text-transform: uppercase;

        background-image:url("{{ url_for('static', filename='img/og.png') }}");
        background-repeat: no-repeat;
        background-size: 525px 500px;


        }
        .hero1 {
        height: 150px;
        width: 220px;

        margin: 50px;
        background-image:url("{{ url_for('static', filename='img/rc3.png') }}");
        background-repeat: no-repeat;
         background-size: 220px 150px;

        }
        .pic1  {

            height: 200px;
            padding: 5px;
            width: 250px;
            border: 2px solid white;
            background-image:url("{{ url_for('static', filename='img/rc3.png') }}");
                                    background-repeat: no-repeat;
            background-size: 250px 200px;



        }


        .blurb {
        font-family:'Droid Serif', Serif;
        text-transform: uppercase;

        }





    </style>
<div class="navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">RC</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('art') }}">Sofware Engineering</a></li>
                    <li><a href="{{ url_for('project') }}">WIP</a></li>
                    <li><a href="{{ url_for('nxt') }}">Next</a></li>


                </ul>

            </div>
        </div>
    </nav>
</div>

{% endblock %}

{% block content %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/o.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">
<div class="team-content-container">
<div class="row">
    <div class="column push-one">
    <div class="mid">
    </div>
    </div>
                 <div class="lmid"></div>

</div>

</div>


    <div class="column push-eight">
        <div class="rt">
      </div>
  </div>




{% endblock %}

{% block footer %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% endblock %}
