{% extends "base.html" %}
{% block navbar %}

<style type="text/css">
        .navbar {
        border: none;
        margin-bottom:0;
        font-size: 50;
        }
        .hero {
        padding: 10px;
        margin: 4px;
        background-image:url("{{ url_for('static', filename='img/vintage-boxing1.png') }}");
        background-repeat: no-repeat;
        background-size: 900px 500px;


        }
        .ch-grid {
	margin: 1px 0 0 0;
	padding-left: 0px;
	list-style: none;
	display: inline-block;
	text-align: center;
}
.ch-grid:after,
.ch-item:before {
    display: none;
    background: #fff;
}


.ch-grid:after {
	clear: left;
}

        p, .greet {
            font-family:'Helvetica Neue', sans-serif;
            font-weight: 12px;
            font-color: grey;

        }
        .ch-img-1 {


                background-image:url("{{ url_for('static', filename='img/jfish.JPG') }}");
                        background-repeat: no-repeat;
                                background-size: 400px 300px;




}
.ch-img-2 {
background-image:url("{{ url_for('static', filename='img/st.JPG') }}");
                        background-repeat: no-repeat;
                                                background-position: center;

                                background-size: auto;

}

.ch-img-3 {
background-image:url("{{ url_for('static', filename='img/galaxy.JPG') }}");
                        background-repeat: no-repeat;
                                background-size: 400px 300px;

}

.ch-img-4 {

background-color: black;
background-image:url("{{ url_for('static', filename='img/dog.JPG') }}");
                        background-repeat: no-repeat;
                        background-position: center;
                                background-size: auto;
}




    </style>
<div class="navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://beca.dev">Rebeca Carrillo</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('art') }}">Sofware Engineering</a></li>
                    <li><a href="{{ url_for('project') }}">WIP</a></li>
                    <li><a href="{{ url_for('nxt') }}">Next</a></li>


                </ul>

            </div>
        </div>
    </nav>
</div>

{% endblock %}

{% block content %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/o.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">
<div class="team-content-container">
        <div class="tagline"><h1>Que <span>Ondà</span>, Güey?</h1></div>
        <div class="row">
            <center>
                <div class="three columns">
            <p>Hola, me llamo Rebeca, y soy ingenera. </p>
            <em>Hi, my name is Rebeca, and  I'm an engineer</em>
            <br><br>
                <p>I build the backend and do data engineering for <span><a href="https://hologram.io">Hologram.io</a></span>.
                    <br> I'm also a core contributor to <span><a href='https://magic.co'>Magic.co</a></p>

                 <nav><ul>
                          <li>
                                  <a class="active" href="https://linktr.ee/rebecazoid">Linktree</a>
                          </li>
                          <li><a class="active" href="https://calendly.com/rbacarrillo">Calendly</a></li>
                          <li><a class="active" href="http://www.github.com/rebecacarrillo"> Github </a></li>
                    </ul>
                    </nav>



             </center>





     <div id="header-container">
    <div class="header full-header">

      <img src="https://beca.dev/img/bw.png">

    </div>
  </div>

</div>
    <div class="tagline-container">
        <div class="home-tagline"><h2>About <span>Me</span>: fast facts</h2></div></div>



</div>

      <div class="footer-inner-container">
            <section class="about-us-history">
      <center>
      <ul class="ch-grid">


				<li>
				  <div class="ch-item ch-img-1">
							<div class="ch-info">
                                <p>I like being alive</p>


							</div>
						</div>
					</li>


      </ul>
</center>
                </section>


       <div class="home-tagline">
      <h2>I'm interested in the study of <span>complex networks,</span> especially living ones.</h2>
 </div>

    <div class="twelve columns">
        <p>During my undergrad, I became interested in the way organized crime networks can be shown, like many other human systems, to follow natural laws. For my bachelor's thesis, I designed and implemented a multidimensional network analysis model for understanding patterns in the inter-network activity of Mexican drug trafficking cartels. Mathematically, I found that information and activity travels through these criminal networks in much the same way that information travels in unicellular, nonhierarchical organisms, specifically following similar behavior patterns as the metabolic pathway in some bacterial cells. I'm interested in learning more about whether this quality is unique to illict organizations, or observable in other common social structures.</p> <p>The framework for this project was done in R, Python and GEPHI</p>
    </div>
  </div>
        </div>
  </div>
</div>




<section class="tagline-container">
<div class="row">
    <div class="home-tagline">
      <h2>When I'm not writing code, I'm usually <span>on the mats</span>.</h2>
    </div>
</div>
</section>

<section>

  <div class="recent-article-container">
    <div class="row">
        <div class="twelve columns">
        <section class="recent">
        </section>
        <ul class="row">
      <li class="four columns">
        <div class="recent-article">
    <a href="https:///zoidbjj.com" class="th">
            <img src="https://beca.dev/img/nationals.JPG"></a>
            <div class="recent-article-content">
             <div class="recent-article-inner">
                 <h4>IBJJF American Nationals<span>2019</span></h4>
                 <p><small>Bronze</small></p>
                 </div>
                 </div>
                 </div>
        </li>

    <li class="four columns">
        <div class="recent-article">
          <a href="https://zoidbjj.com" class="th">
            <img src="https://beca.dev/img/gg.JPG"></a>
            <div class="recent-article-content">
             <div class="recent-article-inner">
                 <h4>GG PRo 87 </h4>
                 </div>

                 </div>
                 </div>
                 </li>


        <li class="four columns">
        <div class="recent-article">
            <img src="https://beca.dev/img/2019nationals.jpg" alt="armraise">
            <div class="recent-article-content">
                             <div class="recent-article-inner">
                                 <p></p>
                            </div>
                 </div>
                 </div>
                 </li>
                 </ul>
        </div>
    </div>
  </div>
</section>



{% endblock %}

{% block footer %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% endblock %}
