{% extends "base.html" %}
{% block navbar %}

<style type="text/css">
        .navbar {
        border: none;
        margin-bottom:0;
        font-size: 50;
        }
        .hero {
        padding: 10px;
        margin: 4px;
        background-image:url("{{ url_for('static', filename='img/vintage-boxing1.png') }}");
        background-repeat: no-repeat;
        background-size: 900px 500px;


        }
        p, .greet {
            font-family:'Helvetica Neue', sans-serif;
            font-weight: 12px;
            font-color: grey;

        }
    </style>
<div class="navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://beca.dev">Rebeca Carrillo</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('art') }}">Sofware Engineering</a></li>
                    <li><a href="{{ url_for('values') }}">Values</a></li>
                    <li><a href="{{ url_for('nxt') }}">Next</a></li>


                </ul>

            </div>
        </div>
    </nav>
</div>

{% endblock %}

{% block content %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/o.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">

<div class="team-content-container">
        <div class="tagline"><h1>Que <span>Ondà</span>, Güey?</h1>
            <div class="greet">
            <p>Hola, me llamo Rebeca, y soy ingenera. <i><br>
                 Hi, my name is Rebeca, and I'm an engineer.</i></p></div>

      </div>



     <div id="header-container">
    <div class="header full-header">

      <div id="sequence">
      <img src="https://beca.dev/img/bw.png">

    </div>

  </div>


{% endblock %}

{% block footer %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 {% endblock %}
