{% extends "base.html" %}
{% block title %}I make mistakes{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mistakes.css') }}">

 <header>

    <p class="hello_title"> The truth is that I fail endlessly </p>

  </header>

<div class="container">
    <div id="hello">
      <div class="anchor">

        <p class="overlay"> we'll work on you </p>
      </div>
    </div>
  </div>
  <div class="monogram">
    <p> 404 Man - Page Not Found </p>
  </div>

{% endblock %}

</div>
</body>

