 <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('links') }}">Past Work + Links</a></li>
                    <li><a href="{{ url_for('eng') }}">Sofware Engineering</a></li>
                    <li><a href="{{ url_for('about') }}">Interests</a></li>
                    <li><a href="{{ url_for('old') }}">About</a></li>
                    <li><a href="{{ url_for('values') }}">Values</a></li>
                    <li><a href="{{ url_for('art') }}">Knots & Seams</a></li>
                </ul>