{% extends "home.html" %}
{% block title %}Project Draft{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .pic  {

            opacity: 10%;
        }

        .blurb {
        background: white;
        padding: 40px;
        border-radius: 15%;

        }
        #btn {
  width: 160px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  border: solid 1px #DDDDDD;
  border-radius: 5%;
  background: white;
}

#btn: p {
    padding: 20px;
    font-size; 10px;

}

#btn:hover {
  font-color: #e2dedb;
  background: #ec503b;
}
        .label {
        font-family:'Droid Serif';
        text-transform: uppercase;
        }
        .greyboy {
        height: 600px;
        width: 100%;
        position: relative;
        padding: 100px;
        magin-left: 10px;
        margin-right: 0px;
        background-color: #F0F0F0;

        }


    </style>
{% endblock %}



{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/o.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">

<style type="text/css">


        .info {
        margin: 10px;
        padding: 20px;
        border-top: 1px solid white;
        border-right: 1px solid white;

        }
        .navbar {
        margin: 10px;
        display: inline-block;
        width: 100%;
        font-family: 'Droid serif', 'Garamond';
        color: white;
        font-size: 20px;
        border-bottom: none;
        background-color: #211D1E;

        }
        .navbar li:hover {
        color: #e2dedb;
  background: #ec503b;}




        body {
            background-color: #211D1E;
            font-family: 'Droid serif', 'Garamond';
            color: white;
            margin-right: 10%;
            margin-left: 10%;

        }

        .fmat {
            font-family: 'Open Sans', sans-serif;
            font-weight: light;
            text-transform: uppercase;
            font-size: 12px;
            color: white;
            padding: 40px;
            position: relative;
  right: -20px;
             -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  -webkit-transition: left 250ms ease, color 250ms ease;
  transition: left 250ms ease, color 250ms ease

        }
        .fmat a:hover {
            background-color: #ec503b;
        }

        .box {
            border-bottom: 1px solid white;
        }

        .bahai {
            font-family: serif;
            text-transform: uppercase;
            border: 1px solid;
            margin: 20px;
            padding: 60px;
            opacity: .9;
       }

        .hl
        {
            border-right: 1px solid white;
            position: absolute;
            width: 80%;
            height: 800px;
            margin-right: 30px;
        }
        .hlo
        {
            width: 100%;
            height: 3px;
            margin-right: 30px;
            background: #ec503b
        }
        .r-container {
        margin-top: 30px;
  border-bottom: 1px solid #ccc;
  margin-right: 10%;
  height: 500px;
        }

        .dog {
        position: relative;

        height: 200px;
        width: 200px;
        background-color: black;
        background-image:url("{{ url_for('static', filename='img/dog.JPG') }}");
                        background-repeat: no-repeat;
                        background-position: center;
                                background-size: auto
                                }



 </style>

<section>
    <div class="hlo"></div>
<div class="row">
    <div class="box">
        <div class="right two columns">
            <div class="hero1"></div></div>
        <div class="row offset-by-six">


        <p>
        orem ipsum dolor sit amet, sapien etiam,
        nunc amet dolor ac odio mauris justo.
        Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada,
        integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse
        nteger vivamus elit eu mauris hendrerit facilisi,
        mi mattis pariatur aliquam pharetra eget.
        </p>
            </div>
    </div>
        </div>
   </div>
    </div>
</section>
<section>
    <div class="centered eight columns">
 <div class="hl"><div class="r-container">

    <div class="fmat">Values</div>
   </div>

</section>
</div>
    <div class="recent-container">
<div class="row offset-by-two">
    <div class="dog"></div>
    <div class="column centered four">
                <div class="info">

        <subheader>
        [SUBHEADER]Lorem ipsum dolor sit amet, sapien etiam,
        nunc amet dolor ac odio mauris justo.
        Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada,
        integer vivamus elit eu mauris eus, cum eros quis aliquam wisi. Nulla wisi laoreet suspendisse
        nteger vivamus elit eu mauris hendrerit facilisi,
        mi mattis pariatur aliquam pharetra eget.
        </subheader>
    </div>
</div>
    </div>
</div>
<div class="info">
    <div class="r-container">

    <div class="fmat">Links</div>
   </div>
</div>
<div class="box">
    <div class="bahai">

        <p>For every one of you his paramount duty is to choose
        for himself that on which no other may infringe and none usurp from him. </p>
        <p> Such a thing--- and to  this the Almighty is My witness--- is the love of God,</p>
        <p>could ye but perceive it.</p>

    <p> - Baha'u'llah</p>
    </div>
</div>
</div>
</div>


    </div>

</div>
</>
    <script>
        $().ready(function() {
			// menu button for top nav
			$('.menu-button a').click(function(e) {
		  	e.preventDefault();
		  	$('nav ul.main-nav').toggleClass('active');
			});
			// # links
			$('a[href="#"]').click(function(e) {
				$('html, body').animate({scrollTop:0}, 'slow');
			});
		});
    </script>
{% endblock %}

{% block footer %}

<div id="footer">

        &copy; Copyright 2020 by <a href="http://beca.dev/">Borky</a>.
        </div>

        {% endblock %}
