{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="twelve columns">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/o.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">

<div class="team-content-container">
        <div class="row">

     <div id="header-container">
    <div class="header full-header">

      <div id="sequence">
      <img src="img/vintage-boxing.png">

      </div>
    </div>
  </div>
        </div>
</div>
    </div>
 </div>
</center>